/* Force update ant style */
// .ant-input {
//   padding: 20px 12px 6px 11px;
// }

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #f0f0f0;
}

.ant-form-item {
  margin: 16px 0px 8px;
}

.ant-col .ant-form-item {
  margin-top: 0px;
}
